.dashboard-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 1rem;
}
.dashboard-container.admin {
	height: 80vh;
}
.dashboard-head-title {
	width: 100%;
	margin: 1.25rem 0 0.7rem 0;
	font-size: 1.3rem;
	padding: 0 1rem;
}
.dashboard-head-title.admin {
	width: 100%;
	padding: 0 1.5rem;
	max-width: 100rem;
}
.dashboard-box {
	display: flex;
	width: calc(100% - 2rem);
	padding: 0 1rem;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
}
.dashboard-box.admin {
	width: 100%;
	padding: 0 1.5rem;
	max-width: 100rem;
}
.dashboard-side {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0.5rem 0;
	height: 26rem;
	padding: 2rem 0.5rem 1rem 0.5rem;
}
.dashboard-divider {
	border-right: 2px solid rgba(188,190,192,0.5);
	width: 0px;
}
.job-confirmation {
	font-size: 2rem;
	text-align: center;
	line-height: 2rem;
	margin-bottom: 1rem;
}
.smaller-job-confirmation {
	font-size: 1.5rem;
	padding: 0 1rem;
}
.dashboard-title {
	width: 100%;
	text-align: center;
	font-size: 2rem;
	font-weight: 500;
	padding: 0.5rem 1rem;
}
.text-calendar-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.calendar-block {
	display: flex;
	justify-content: flex-start;
	padding-left: 1rem;
}
.calendar-div {
	display: flex;
	flex-direction: column;
	background: white;
	align-items: center;
	border-radius: 10px;
	width: 100%;
}
.calendar-div.dashboard {
	width: 10rem;
	height: 10rem;
}
.date-text {
	font-size: 5rem;
	line-height: 6.5rem;
}
.month-text {
	font-size: 2.3rem;
	line-height: 3.7rem;
}
.date-text.dashboard {
	font-size: 4.5rem;
}
.calendar-text {
	flex-grow: 1;
	background: red;
	width: 100%;
	color: white;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.calendar-date {
	flex-grow: 3;
	border-radius: 5px;
	display: flex;
	align-items: center;
}
.job-details-btn {
	margin: 1rem 1rem;
	border: none;
	height: 2rem;
	border-radius: 3px;
	padding: 0.1rem 0.5rem;
	background: #3f6bb4;
	color: white;
	font-size: 0.9rem;
	cursor: pointer;
}

.book-now-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	height: 65%;
	width: 100%;
	padding: 1.5rem;
	padding-top: 0.75rem;
}
.book-now-btn,
.book-now-btn:hover {
	width: 60%;
	background: #3f6bb4;
	color: white;
	border-radius: 3px;
	padding: 0.1rem 0.5rem;
	height: 2rem;
	border: none;
	font-size: 1rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.book-now-desc {
	margin-bottom: 0.75rem;
	margin-top: -0.8rem;
	font-size: 1rem;
}
.dashboard-icon-div {
	display: flex;
	align-items: center;
}
.dashboard-icon {
	background: #3f6bb4;
	width: 30%;
	height: 19rem;
	min-height: 9rem;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	fill: white;
	padding: 0.5rem;
}
.dashboard-icon-text {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 5vw;
	font-weight: 500;
	padding: 0.5rem 0 0.5rem 1.5rem;
}
.worker-head-profile {
	height: 3rem;
	width: 3rem;
	margin-right: 1.5rem;
	object-fit: cover;
	border-radius: 50%;
}
.vertical-divider {
	border-right: 1px solid black;
}
.book-img {
	height: 35%;
	object-fit: cover;
}
.cust-dash-pic {
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
  background-size: cover;
}
.cust-dash-pic > img {
	width: 11rem;
	height: auto;
}
.product-photo {
	width: 100%;
	object-fit: contain;
	height: 50%;
}
.size-input-div {
	display: flex;
	width: 100%;
	margin: 1rem 0 0.5rem 0;
	justify-content: space-between;
}
.product-description {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.product-title {
	font-size: 1.5rem;
}
.size-input-choice {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20%;
}
.size-input {
	width: 100%;
	background: rgb(200, 200, 200);
	border: none;
	text-align: center;
	border-radius: 6px;
}
.add-to-cart {
	width: 100%;
	height: 2.2rem;
	background-color: black;
	color: white;
	border-radius: 6px;
	font-size: 0.8rem; 
	cursor: pointer;
}
.product-list {
	width: 100%;
	table-layout: auto;
}
.product-header {
	justify-content: space-between;
	padding: 0.5rem 1rem;
}
.product-head {
	text-align: left;
	padding-bottom: 0.75rem;
}
.product-row {
	height: 2rem;
}
.product-row-photo {
	height: 3rem;
}
.product-table-body {
	padding: 0 2rem;
}
.checkout-box {
	width: calc(100%-2rem);
	border: 1px solid grey;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: 3px;
	justify-content: space-around;
	height: 6rem;
	margin-top: 1rem;
}
.StripeCheckout {
	background: black !important;
	color: white !important;
}
.StripeCheckout > span {
	background: none !important;
}
.apparel-input {
	width: calc(100% - 1rem);
	border-radius: 3px;
	color: black;
	background: none;
	border: 1px solid grey;
	padding: 0.25rem 0.5rem;
}
.info-side {
	width: 48%;
}
.personal-info {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.personal-info-container {
	width: calc(100%-2rem);
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border: 1px solid grey;
	border-radius: 3px;
	margin-bottom: 1rem;
}
.left-div {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.hide {
	display: none;
}
.thank-you-div {
	display: flex;
	font-weight: 300 !important;
	flex-direction: column;
	justify-content: center;
	padding: 1.5rem;
	max-width: 40rem;
	margin: auto;
}

.checkbox-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 2.5rem;
}
.checkbox-container {
	display: flex;
	flex-wrap: wrap;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {
	
}

/* Larger than tablet */
@media (min-width: 750px) {
	.dashboard-box {
		width: 50rem;
		flex-direction: row;
		padding: 0;
	}
	.dashboard-head-title {
		width: 50rem;
		padding: 0;
	}
	.dashboard-side {
		width: calc(50% - 2rem);
		display: flex;
		flex-direction: column;
	}
	.dashboard-icon-text {
		font-size: 1.5rem;
	}
	.left-div {
		width: 70%;
	}
	.checkout-box {
		width: calc(24% - 2rem);
		margin-top: 0;
	}
	.personal-info-container {
		width: 100%;
	}
	.hide {
		display: table-cell;
	}
	.product-list {
		width: 100%;
	}
	.size-input-choice {
		width: calc((100% - 3rem) / 4);
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}