.find-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-direction: column;
	overflow: scroll;
	overflow-x: hidden;
}
.find-table {
	width: 100%;
	table-layout: auto;
}
.find-sidebar {
	width: 100%;
	background: #3f6bb4;
	display: flex;
	justify-content: center;
}
.find-sidebar-container {
	display: flex;
	flex-direction: column;
	padding: 1rem 2rem;
	height: 100%;
	overflow: scroll;
	max-width: 30rem;
}
.find-row {
	border-bottom: 1px solid rgba(188,190,192,1);
	height: 2.5rem;
	padding: 0 1rem;
	cursor: pointer;
}
.find-row:hover {
	background: rgba(188,190,192,0.4);
}
.find-row.heading:hover {
	background: white;
	cursor: auto;
}
.find-row.heading > th {
	text-align: left;
}
.find-card:hover {
	background: rgba(188,190,192,0.4);
}
.find-card {
	border-bottom: 1px solid rgba(188,190,192,1);
	cursor: pointer;
}
.find-card-content {
	display: flex;
	width: 100%;
	padding: 1rem 0;
}
.find-card-content-side {
	width: 50%;
	display: flex;
	flex-direction: column;
}
.distance-label {
	font-size: 1.5rem;
}
.card-label {
	font-size: 1.2rem;
}
.right {
	text-align: right;
}

.find-table-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	height: 100%;
	overflow: scroll;
	min-height: 30rem;
}
.sidebar-title {
	color: white;
	font-size: 1.7rem;
	text-decoration: underline;	
	font-weight: 500;
}
.radius-picker-container {
	display: flex;
	background: white;
	height: 2rem;
	border-radius: 3px;
	width: 100%;
}
.radius-pick {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.radius-pick:hover,
.radius-selected {
	background: #3f6bb4;
	color: white;
}
.sidebar-subtitle {
	margin: 0.4rem 0;
	color: white;
	font-size: 1.05rem;
	font-weight: 500;
}
.sidebar-subtitle.admin {
	color: rgba(0, 0, 0, 0.65);
}
.options-hr {
	width: 100%;
	margin-top: 1rem;
	text-align: left;
	margin-left: 0;
}
.sort-picker-container {
	display: flex;
	flex-wrap: wrap;
	color: white;
	justify-content: space-between;
	width: 100%;
}
.sort-pick {
	width: 100%;
	border-radius: 2px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.sort-order-item {
	text-align: right;
	cursor: pointer;
}
.picked {
	text-decoration: none;
	font-size: 1rem;
	line-height: 0.5;
}
.find-table-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.find-table-header-title {
	font-size: 2rem;
	font-weight: 500;
}
.options-btn {
	text-decoration: underline;
	cursor: pointer;
	color: #3f6bb4;
}
.sA {
	font-weight: 600;
	margin-bottom: 0.4rem;
}
.sA:hover {
	text-decoration: underline;
}
.find-options {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.blue-options {
	fill: #3f6bb4;
}
.options-close {
	color: white;
	position: absolute;
	right: 0;
	cursor: pointer;
	margin-right: 1rem;
}
.ReactCrop.ReactCrop--fixed-aspect {
	height: 90%;
}
.find-table-section.admin {
	width: calc(100% - 1rem);
	padding: 0;
	position: relative;
	margin-left: 1rem;
}
.find-sidebar.admin {
	background: #ffffff;
	border: none;
	box-shadow: 3px 0px 8px rgba(188,190,192,0.5);
}
.find-sidebar-container.admin {
	width: 100%;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {
  
}

/* Larger than tablet */
@media (min-width: 750px) {
  .find-options {
  	display: none;
  }
  .find-container {
  	flex-direction: row;
  	height: 100%;
  	position: absolute;
  }
  .find-sidebar {
  	width: 20%;
  }
  .find-sidebar-container {
  	padding: 1rem;
  }
  .find-table-section {
  	width: 78%;
  }
  .options-close {
  	display: none;
  }
  .find-sidebar.admin {
  	border-right: 1px solid #ff6f00;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}




