.footer {
	background: white;
}

.sub-footer {
	background: rgba(220,220,220,1);
	color: black;
	height: 15rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

.content-wrap {
}

.new-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
	margin-top: 1rem;
}

.new-sub-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.5rem;
}

.new-menu-item {
	text-decoration: none;
	padding: 0 1rem;
	color: black;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {
	.content-wrap {
		
	}
	.sub-footer {
		height: 12.5rem;
	}
}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}